* {
    margin: 0;
    padding: 0;
}

:root{
    --background-color: #a9a9a9;
    --accent-dark-green: slategray;
    --accent-beige: #f5eec2;
    --neutral: #efefef;
    --sky: #caebf2;
    --red: #ff3b3f;
}

h1,
h2,
h3 {
    font-family: 'Varela Round', sans-serif;
    color: white;
    padding: 1.2rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-family: 'Zen Kurenaido', sans-serif;
    color: black;
    padding: 1.2rem;
}

header{
    border-bottom: var(--red) solid 2px;
}

body{
    position: relative;
    background: var(--neutral);
}

.nav-bar > ul{
    display: flex;
    flex-direction: row;
    background: var(--background-color);
    padding: 10px 10px 10px 0;
    align-items: center;
}

.nav-bar li{
    list-style-type: none;
}

.nav-bar a{
    text-decoration: none;
    padding: 5px;
    font-size: 1.5rem;
}

.nav-links{
    padding-left: .8rem;
    padding-right: .8rem;
    
}

.nav-menu{
    background: var(--background-color);
    display: none;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 300px;
    right: 0;
    z-index: 50;
    border-left: var(--red) solid 2px;
    border-bottom: var(--red) solid 2px;
    border-radius: 0 0 20px 20px;
}

.nav-menu li{
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
    margin: 20px;
}

.nav-menu a{
    color: white;
}

.nav-links i {
    color: white;
    text-shadow: 0 0 1px #000;
}



#logo{
    flex: 1;
    background-image: url('https://raw.githubusercontent.com/DazHaze/Farm-People-Mobile/main/assets/images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 120px;
}

#about-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: var(--neutral);

}

.active-button {
    background-color: var(--background-color) !important;
}

.active-button>i {
    color: beige !important;
}

.about-button {
    height: 50px;
    width: 20%;
    background-color: var(--red);
    border-radius: 0 10px 0 0;
    text-align: center;
    cursor: pointer;
}

.about-button>i {
    padding-top: 20px;
    color: bisque;
}

#about-buttons div:last-child {
    flex: 1;
    display: none;
}

#about-section {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    background-color:var(--background-color);
    display: flex;
    flex-direction: column;

}

#about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#about-image {
    max-width: 300px;
}

.image-animation {
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#about-description {
    background: white;
    color: black;
    margin: 20px;

    -webkit-clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
    clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
}

#about-heading {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#instgram-post{
    height: 100%;
    width: 100%;
    position: relative;

}

#instagram-post > div{
    height: auto;
    width: 60%;
    position: absolute;
    background: white;
    top: 1050px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
    clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
}
#instagram-post > div > p{
    color: black !important;
    text-transform: uppercase;
    cursor: default;
    text-align: center;
}

/* creates the level of zoom for the hero image */
@keyframes hero-zoom {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}